.iframe {
  font-family: 'Roboto Regular';
  box-sizing: border-box;
  font-size: 14px;
  background-color: lighten($lightBrown, 10%);
  width: 320px;
  height: 260px;
  border: 1px solid $brown;
  color: $dark;
  display: inline-block;
  user-select: none;
  
  &--drag {
    position: absolute;
  }
  
  &--first {
    left: 0;
    top: 0;
  }
  
  &--second {
    left: 340px;
    top: 0;
  }
  
  &--third {
    left: 680px;
    top: 0;
  }
  
  &__chat {
    height: 210px;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    position: relative;
  }
  
  &__close {
    font-family: Arial;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 0;
    background-color: $brown;
    
    &::after {
      content: 'X';
      color: $white;
      padding: 5px;
    }
    
    &:hover {
      cursor: pointer;
    }
    
    &:active {
      background-color: lighten($lightBrown, 10%);
    }
  }
  
  &__content {
    width: 100%;
  }
  
  &__text {
    font-family: 'Roboto Regular';
    padding-bottom: 5px;
    font-size: 14px;
    user-select: none;
    
    &--heading {
      font-family: "Roboto Bold";
      font-size: 16px;
      padding-bottom: 10px;
    }
    
    &--system {
      font-weight: bold;
    }
    
    &--own {
      color: green;
      font-weight: bold;
    }
  }
  
  &__input-wrap {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  &__input {
    background-color: lighten($lightBrown, 20%);
    border: none;
    padding: 5px;
  }
  
  &__label {
    font-family: "Roboto Bold";
    display: flex;
    align-items: center;
    user-select: none;
  }
  
  &__send {
    background-color: $brown;
    color: $white;
    border: none;
    padding: 5px 10px;
    user-select: none;
    
    &:hover {
      cursor: pointer;
    }
    
    &:active {
      box-shadow: 0 0 10px rgba(255,255,255, .2) inset;
    }
  }
}