html,
body {
  height: 100%;
}

.main-markup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  &__content {
    flex: 1 0 auto;
  }
  
  &__footer {
    flex: 0 0 auto;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.clearfix::after,
.clearfix::before {
  content: '';
  display: block;
}

.clearfix::after {
  content: '';
  clear: both;
}